/report.log
/report.aux
/report.dvi
/report.synctex.gz
/review.aux
/review.log
/review.synctex.gz
/review.bcf
/review.run.xml
/review.bbl
/.README.md.html
/.my_air_cargo_problems.py.swp
/.my_planning_graph.py.swp
/.references.bib.swp
/.review.tex.swp
/.texlipse
/review.blg
/review.tex.blg
